<div class="container">
  <article class="card mb-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" id="bananaCard">

        <div class="card-body">
          <h5 class="card-title">Banana</h5>

        </div>
        <button type="button" class="btn" id="banana">
          <img src="/assets/img/banana.png" class="card-img-top" alt="">
        </button>

      </div>
      <div class="col" id="cebollasCard">

        <div class="card-body">
          <h5 class="card-title">Cebollas</h5>

        </div>
        <button type="button" class="btn" id="cebollas">
          <img src="/assets/img/cebollas.png" class="card-img-top" alt="">
        </button>

      </div>
      <div class="col" id="lechugaCard">

        <div class="card-body" >
          <h5 class="card-title">Lechuga</h5>

        </div>
        <button type="button" class="btn" id="lechuga">
          <img src="/assets/img/lechuga.png" class="card-img-top" alt="">
        </button>

      </div>
      <div class="col" id="papasCard">

        <div class="card-body" >
          <h5 class="card-title">Papas</h5>

        </div>
        <button type="button" class="btn" id="papas">
          <img src="/assets/img/papas.png" class="card-img-top" alt="">
        </button>

      </div>

      <div class="col" id="pimentonCard">

        <div class="card-body">
          <h5 class="card-title">Pimenton</h5>

        </div>
        <button type="button" class="btn" id="pimenton">
          <img src="/assets/img/pimenton.png" class="card-img-top" alt="">
        </button>

      </div>
      <div class="col" id="tomateCard">

        <div class="card-body">
          <h5 class="card-title">Tomate</h5>

        </div>
        <button type="button" class="btn" id="tomate">
          <img src="/assets/img/tomate.png" class="card-img-top" alt="...">
        </button>

      </div>
    </div>
  </article>
</div>