<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: green;">
  
  <div class="container">

    <a class="navbar-brand" href="/">Inicio</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalBtn">
     Mi Carrito
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav data">
        <a class="nav-link active" aria-current="page" href="/"></a>
        <a class="nav-link" href=""></a>
        <a class="nav-link" href=""></a>
        <a class="nav-link" href=""></a>

      </div>
    </div>
  </div>
</nav>